<div class="row container-detail center-xs">
    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 row-detail">
        <div class="row total-height center-xs start-sm middle-xs ">
            <div class="col-xs-10 col-sm col-md col-lg">
                <div class="row separator details">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="title-detail">IP ADDRESS</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="subtitle-detail ">{{ip}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-sm col-md col-lg">
                <div class="row separator details">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="title-detail">LOCATION</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="subtitle-detail ">{{location}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-sm col-md col-lg">
                <div class="row separator details">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="title-detail">TIMEZONE</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="subtitle-detail ">{{timeZone}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-sm col-md col-lg">
                <div class="row details">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="title-detail">ISP</span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="subtitle-detail ">{{isp}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>