<div class="header">

    <div class="row center-xs bottom-xs container-title">
        <h2 class="title">IP Address Tracker</h2>
    </div>

    <!-- fin titulo -->

    <div class="row container-input center-xs middle-xs">
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4 not-padding">
            <div class="row start-xs center-sm">
                <div class="col-xs-10 col-sm-8 col-md-11 col-lg-11 not-padding search-max">
                    <input type="text" [formControl]="seacrhText" class="search" placeholder="Search for any IP address or domain" (keydown.enter)="searchIP()">
                </div>
                <div class="col-xs-1 not-padding ">
                    <button (click)="searchIP()" class="button-search" [ngClass]="{'button-search-active': seacrhText.valid}" type="submit"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- fin buscador  -->

    <app-detail [geoData]="apiGeoIp"></app-detail>

</div>

<!-- Fin header -->

<div class="map">
    <app-maps [geoData]="apiGeoIp"></app-maps>
</div>