<div class="header">

    <div class="row center-xs bottom-xs container-title">
        <h2 class="title">IP Address Tracker</h2>
    </div>

    <!-- fin titulo -->

    <div class="row container-input center-xs middle-xs">
        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
            <div class="row">
                <div class="col-xs-10 not-padding">
                    <input type="text" class="search" placeholder="Search for any IP address or domain">
                </div>
                <div class="col-xs-2 not-padding not-flex">
                    <button class="button-search" type="submit"></button>
                </div>
            </div>
        </div>
    </div>

    <!-- fin buscador  -->


    <div class="row container-detail center-xs">
        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 row-detail">
            <div class="row total-height center-xs start-sm middle-xs ">
                <div class="col-xs-10 col-sm col-md col-lg">
                    <div class="row separator details">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="title-detail">IP ADDRESS</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="subtitle-detail ">192.168.44.30</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-sm col-md col-lg">
                    <div class="row separator details">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="title-detail">LOCATION</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="subtitle-detail ">Brooklyn, NY 10001</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-sm col-md col-lg">
                    <div class="row separator details">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="title-detail">TIMEZONE</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="subtitle-detail ">UTC -05:00</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-sm col-md col-lg">
                    <div class="row details">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="title-detail">ISP</span>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <span class="subtitle-detail ">SpaceX Starlink</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- fin detalle -->

</div>

<!-- Fin header -->

<div class="map">
    <h1>hola mundo</h1>
</div>