@import "variables";
.map {
    height: 72vh;
}

.header {
    background: url("src/assets/img/pattern-bg.png") no-repeat;
    height: 31vh;
}

.container-title {
    height: 8vh;
}

.title {
    color: #ffffff;
    font-weight: 500;
}

.container-input {
    height: 15vh;
}

.search {
    width: 100%;
    height: 50px;
    border-radius: 15px 0 0 15px;
    border: none;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 10px;
    color: $very-dark-gray;
}

::placeholder {
    color: $dark-gray;
}

.button-search {
    width: 50px;
    height: 51px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background: url("src/assets/img/icon-arrow.svg") no-repeat;
    background-color: black;
    background-position: center;
    color: transparent;
}

.button-search-active {
    background-color: $very-dark-gray;
}

@media (max-width: 576px) {
    .search {
        height: 60px;
    }
    .button-search {
        width: 60px;
        height: 61px;
    }
    .header {
        background: url("src/assets/img/pattern-bg-mv.png") no-repeat;
        height: 40vh;
    }
    .search-max {
        max-width: 81.333333%;
    }
}